h2 {
  padding-top: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data {
  background: pink;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background: beige;
  border-radius: 10px;
  padding-bottom: 15px;
}

button {
  cursor: pointer;
  border-radius: 7px;
  border: brown;
  background-color: brown;
  color: white;
  width: 15%;
  height: 5vh;
}

button:hover {
  transform: translateY(-3px);
}

.divider {
  padding-top: 10px;
  padding-bottom: 10px;
}

.op {
  background: whitesmoke;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
}
